@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

$fnt-jakarta: 'Plus Jakarta Sans', sans-serif;

$fnt-size-xxs: 12px; //Input labels / Car specifications
$fnt-size-xs: 14px;
$fnt-size-s: 16px; //For links / Navigations ect
$fnt-size-m: 20px; //Car Titles / Prices / Filter labels
$fnt-size-lg: 32px; //Logo

$themes: (
  'light': (
    text-btn: #ffffff,
    text-primary: #1a202c,
    clr-shifter:
      linear-gradient(
        90deg,
        hsla(197, 14%, 57%, 1) 0%,
        hsla(192, 17%, 94%, 1) 100%
      ),
    text-secondary: #596780,
    text-tertiary: #90a3bf,
    text-fourth: #ffffff,
    clr-primary: #3563e9,
    clr-secondary: #ffffff,
    clr-tertiary: #54a6ff,
    clr-background-light: #f6f7f9,
  ),

  'dark': (
    clr-shifter:
      linear-gradient(
        90deg,
        hsla(197, 14%, 57%, 1) 0%,
        hsla(192, 17%, 94%, 1) 100%
      ),
    text-btn: #ffffff,
    text-primary: #e4e8ec,
    text-secondary: #c3c6ca,
    text-tertiary: #8f9295,
    text-fourth: #ffffff,
    clr-primary: #1a202c,
    clr-secondary: #303841,
    clr-tertiary: #4a5568,
    clr-background-light: #171a1f,
  ),

  'cyberpunk': (
    text-btn: #ffffff,
    clr-shifter:
      linear-gradient(
        90deg,
        hsla(197, 14%, 57%, 1) 0%,
        hsla(192, 17%, 94%, 1) 100%
      ),
    text-primary: #ff00ff,
    text-secondary: #00ffff,
    text-tertiary: #ffd700,
    text-fourth: #00ff00,
    clr-primary: #0d0f14,
    clr-secondary: #11151c,
    clr-tertiary: #ff1493,
    clr-background-light: #0f0f0f,
  ),

  'nature': (
    text-btn: #ffffff,
    clr-shifter:
      linear-gradient(
        90deg,
        hsla(197, 14%, 57%, 1) 0%,
        hsla(192, 17%, 94%, 1) 100%
      ),
    text-primary: #355e3b,
    text-secondary: #52734d,
    text-tertiary: #a2b29f,
    text-fourth: #f0fff4,
    clr-primary: #2b7a0b,
    clr-secondary: #daf2d9,
    clr-tertiary: #86c232,
    clr-background-light: #f6fff2,
  ),
  'professional': (
    text-btn: #ffffff,
    clr-shifter:
      linear-gradient(
        90deg,
        hsla(197, 14%, 57%, 1) 0%,
        hsla(192, 17%, 94%, 1) 100%
      ),
    text-primary: #355e3b,
    text-secondary: #52734d,
    text-tertiary: #a2b29f,
    text-fourth: #f0fff4,
    clr-primary: #2b7a0b,
    clr-secondary: #daf2d9,
    clr-tertiary: #86c232,
    clr-background-light: #233359,
  ),
);

@mixin theme($theme-name) {
  $theme: map-get($themes, $theme-name);
  --clr-shifter: #{map-get($theme, clr-shifter)};
  --text-btn: #{map-get($theme, text-btn)};

  --text-primary: #{map-get($theme, text-primary)};
  --text-secondary: #{map-get($theme, text-secondary)};
  --text-tertiary: #{map-get($theme, text-tertiary)};
  --clr-primary: #{map-get($theme, clr-primary)};
  --clr-secondary: #{map-get($theme, clr-secondary)};
  --clr-tertiary: #{map-get($theme, clr-tertiary)};
  --clr-background-light: #{map-get($theme, clr-background-light)};
}

:root {
  @include theme('light'); // Default light theme
}

[data-theme='dark'] {
  @include theme('dark');
}

[data-theme='cyberpunk'] {
  @include theme('cyberpunk');
}

[data-theme='nature'] {
  @include theme('nature');
}

[data-theme='professional'] {
  @include theme('professional');
}
