$text-primary: #1a202c;
$text-secondary: #596780;
$text-tertiary: #90a3bf;
$text-fourth: #ffffff;

$clr-primary: #3563e9;
$clr-secondary: #ffffff;
$clr-tertiary: #54a6ff;

$clr-background-light: #f6f7f9;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

$fnt-jakarta: "Plus Jakarta Sans", sans-serif;

$fnt-size-xxs: 12px; //Input labels / Car specifications
$fnt-size-xs: 14px;
$fnt-size-s: 16px; //For links / Navigations ect
$fnt-size-m: 20px; //Car Titles / Prices / Filter labels
$fnt-size-lg: 32px; //Logo
