@import '../../../app/styles/styles';

.payment__error {
  position: absolute;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  background-color: green;
  color: var(--clr-secondary);
  transition: all 0.5s ease;
  bottom: 0;
  margin-bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;

  &.active {
    z-index: 0;
    background-color: #ee6b61;
    margin-bottom: -30px;
  }
}

@media (max-width: 760px) {
  .payment__error {
    font-size: 10px;
    &.active {
      margin-bottom: -20px;
    }
  }
}
