.popular-car-main-box {
  max-width: 1312px;
  width: 100%;
  background-color: white;
  margin: 30px auto;

  .popular-car-cart-header-main {
    width: 100%;
    background-color: white;
    padding-bottom: 50px;

    .popular-car-cart-header {
      display: flex;
      justify-content: space-between;
      font-family: 'Plus Jakarta Sans', sans-serif;
      align-items: center;
      padding: 25px;

      .popular-car-popular-car-text {
        font-size: 16px;
        font-weight: 600;
        color: #90a3bf;
      }

      .popular-car-view-all {
        font-size: 16px;
        font-weight: 600;
        color: #3563e9;
        cursor: pointer;
      }
    }

    .popular-car-cart-all-car {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      flex-wrap: wrap;
      gap: 15px;
    }
  }
}
