@import '../../../app/styles/styles';

.rental__option-time {
  max-width: 48%;
}

.rental__option {
  position: relative;
  gap: 10px;
  display: flex;
  flex-direction: column;
  flex: 1 1 45%;
  margin: 5px;
  z-index: 1;

  .rental__option-head {
    font-size: $fnt-size-s;
    font-weight: 700;
    color: var(--text-primary);
  }

  .rental-option__select-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    svg {
      position: absolute;
      right: 0;
      transform: translate(-20px);
    }
    .rental-option__select {
      color: var(--text-tertiary);
      padding: 20px;
      font-family: var(--font-plus-jakarta-sans);
      border-radius: 10px;
      border: none;
      background-color: var(--clr-bg-input-secondary);
      width: 100%;
      border: none;
      outline: none;
      font-size: 13px;
      font-weight: 500;
      color: #000;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      & > option:disabled {
        color: var(--text-tertiary);
      }
    }

    .rental-option__select-default {
      color: var(--text-tertiary);
      padding: 20px;
      border-radius: 10px;
      border: none;
      background-color: var(--clr-background-light);
    }

    .rental-option__select-group {
      width: 100%;
      outline: none;
      border: none;
      font-size: 12px;
      font-weight: 500;
      display: flex;
      position: relative;

      &::placeholder {
        color: var(--text-tertiary);
      }
    }
  }

  .react-datepicker-wrapper {
    width: 100%;
    position: relative;

    input {
      width: 100%;
      padding: 20px;
      border-radius: 10px;
      border: none;
      background-color: var(--clr-bg-input-secondary);
      cursor: pointer;
    }
    svg {
      position: absolute;
      right: 0;
      transform: translate(-20px, 20px);
    }
  }

  .rental-option__select-date {
    cursor: pointer;
  }
}

@media (max-width: 450px) {
  .rental__option-time {
    max-width: 100%;
  }
}
