// ThemeShifter.scss
@import '../../app/styles/styles';

.shifter-container {
  width: 250px;
  margin: 0 auto;
  padding: 5px;
}

.h-pattern-shifter {
  position: relative;
  width: 100%;
  height: 200px;
  background: var(--clr-primary);
  border-radius: 10px;
  margin: 0 auto;

  .shift-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .pattern-line {
      filter: drop-shadow(17px 20px 9px -6px rgba(0, 0, 0, 0.75));
      fill: none;
      stroke: var(--text-secondary);
      stroke-width: 12;
      -webkit-box-shadow: 2px 1px 0px -6px rgba(255, 255, 255, 1);
      -moz-box-shadow: 2px 23px 0px -6px rgba(255, 255, 255, 1);
      box-shadow: 2px 22px 0px -6px rgba(255, 255, 255, 1);
    }
  }

  .shift-position {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--text-secondary);

    border: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }

    &.active {
      background: rgba(255, 255, 255, 0.3);
    }
    svg {
      width: 80%;
      height: 100%;
      fill: yellow;
    }
    // Position coordinates
    &.pos-1 {
      top: 25px;
      left: 43px;
    }
    &.pos-2 {
      top: 25px;
      left: 138px;
    }

    &.pos-3 {
      top: 25px;
      left: 90px;
    } // New right position
    &.pos-4 {
      top: 145px;
      left: 42px;
    }
    &.pos-5 {
      top: 145px;
      left: 90px;
    }
  }

  .shift-knob {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%);
    z-index: 10;

    // Knob positions
    &.position-1 {
      background: url("data:image/svg+xml,%3Csvg%20version='1.1'%20class='sun'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20x='0px'%20y='0px'%20viewBox='0%200%20496%20496'%20style='enable-background:new%200%200%20496%20496;'%20xml:space='preserve'%3E%3Crect%20x='152.994'%20y='58.921'%20transform='matrix(0.3827%200.9239%20-0.9239%200.3827%20168.6176%20-118.5145)'%20width='40.001'%20height='16'/%3E%3Crect%20x='46.9'%20y='164.979'%20transform='matrix(0.9239%200.3827%20-0.3827%200.9239%2071.29%20-12.4346)'%20width='40.001'%20height='16'/%3E%3Crect%20x='46.947'%20y='315.048'%20transform='matrix(0.9239%20-0.3827%200.3827%200.9239%20-118.531%2050.2116)'%20width='40.001'%20height='16'/%3E%3Crect%20x='164.966'%20y='409.112'%20transform='matrix(-0.9238%20-0.3828%200.3828%20-0.9238%20168.4872%20891.7491)'%20width='16'%20height='39.999'/%3E%3Crect%20x='303.031'%20y='421.036'%20transform='matrix(-0.3827%20-0.9239%200.9239%20-0.3827%2050.2758%20891.6655)'%20width='40.001'%20height='16'/%3E%3Crect%20x='409.088'%20y='315.018'%20transform='matrix(-0.9239%20-0.3827%200.3827%20-0.9239%20701.898%20785.6559)'%20width='40.001'%20height='16'/%3E%3Crect%20x='409.054'%20y='165.011'%20transform='matrix(-0.9239%200.3827%20-0.3827%20-0.9239%20891.6585%20168.6574)'%20width='40.001'%20height='16'/%3E%3Crect%20x='315.001'%20y='46.895'%20transform='matrix(0.9238%200.3828%20-0.3828%200.9238%2050.212%20-118.5529)'%20width='16'%20height='39.999'/%3E%3Cpath%20d='M248,88c-88.224,0-160,71.776-160,160s71.776,160,160,160s160-71.776,160-160S336.224,88,248,88z%20M248,392%20c-79.4,0-144-64.6-144-144s64.6-144,144-144s144,64.6,144,144S327.4,392,248,392z'/%3E%3Crect%20x='240'%20width='16'%20height='72'/%3E%3Crect%20x='62.097'%20y='90.096'%20transform='matrix(0.7071%200.7071%20-0.7071%200.7071%2098.0963%20-40.6334)'%20width='71.999'%20height='16'/%3E%3Crect%20y='240'%20width='72'%20height='16'/%3E%3Crect%20x='90.091'%20y='361.915'%20transform='matrix(-0.7071%20-0.7071%200.7071%20-0.7071%20-113.9157%20748.643)'%20width='16'%20height='71.999'/%3E%3Crect%20x='240'%20y='424'%20width='16'%20height='72'/%3E%3Crect%20x='361.881'%20y='389.915'%20transform='matrix(-0.7071%20-0.7071%200.7071%20-0.7071%20397.8562%20960.6281)'%20width='71.999'%20height='16'/%3E%3Crect%20x='424'%20y='240'%20width='72'%20height='16'/%3E%3Crect%20x='389.911'%20y='62.091'%20transform='matrix(0.7071%200.7071%20-0.7071%200.7071%20185.9067%20-252.6357)'%20width='16'%20height='71.999'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      top: 40px;
      left: 58px;
    }
    &.position-2 {
      top: 40px;
      left: 153px;
    }
    &.position-3 {
      top: 40px;
      left: 106px;
    }
    &.position-4 {
      background: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2049.739%2049.739'%3E%3Cpath%20d='M25.068,48.889c-9.173,0-18.017-5.06-22.396-13.804C-3.373,23.008,1.164,8.467,13.003,1.979l2.061-1.129l-0.615,2.268 c-1.479,5.459-0.899,11.25,1.633,16.306c2.75,5.493,7.476,9.587,13.305,11.526c5.831,1.939,12.065,1.492,17.559-1.258v0 c0.25-0.125,0.492-0.258,0.734-0.391l2.061-1.13l-0.585,2.252c-1.863,6.873-6.577,12.639-12.933,15.822 C32.639,48.039,28.825,48.888,25.068,48.889z M12.002,4.936c-9.413,6.428-12.756,18.837-7.54,29.253 c5.678,11.34,19.522,15.945,30.864,10.268c5.154-2.582,9.136-7.012,11.181-12.357c-5.632,2.427-11.882,2.702-17.752,0.748 c-6.337-2.108-11.473-6.557-14.463-12.528C11.899,15.541,11.11,10.16,12.002,4.936z'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      top: 160px;
      left: 57px;
    }
    &.position-5 {
      top: 160px;
      left: 107px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      z-index: -9;
      left: 50%;
      width: 20px;
      height: 20px;
      background: linear-gradient(135deg, #e2e8f0, #cbd5e0);
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }

    // BU BEFORE'U YADA AFTER@i ALTA ALMAK GEREKLI
    // BU BEFORE'U YADA AFTER@i ALTA ALMAK GEREKLI

    // BU BEFORE'U YADA AFTER@i ALTA ALMAK GEREKLI

    // BU BEFORE'U YADA AFTER@i ALTA ALMAK GEREKLI

    // BU BEFORE'U YADA AFTER@i ALTA ALMAK GEREKLI

    // &::before {
    //   content: '';
    //   position: absolute;
    //   z-index: -1; // Keep it below the knob’s content but above other background elements
    //   top: 50%;
    //   left: 50%;
    //   width: 50px; // Slightly larger than the knob’s width/height
    //   height: 50px;
    //   border-radius: 50%;
    //   // background-color: red;
    //   transform: translate(-50%, -50%);
    // }
  }
}

// Dark theme support
// :global([data-theme='dark']) {
//   .h-pattern-shifter {
//     background: #1a365d;
//   }

//   .theme-labels {
//     color: #e2e8f0;

//     span:hover {
//       color: #90cdf4;
//     }
//   }
// }
