// Public css start
li {
  list-style: none;
}

// Public css end

.ad-sidebar-container {
  -webkit-box-shadow: 3px 0px 4px 0px rgba(53, 99, 233, 0.51);
  -moz-box-shadow: 3px 0px 4px 0px rgba(53, 99, 233, 0.51);
  box-shadow: 3px 0px 4px 0px rgba(53, 99, 233, 0.51);
  width: 290px;
  height: 100vw;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: width 0.32s ease;

  & > .switchBtn {
    height: 50px;
    width: 25px;
    position: absolute;
    border: none;
    border-radius: 30px 0 0 30px;
    top: 50%;
    transform: translateY(30px);
    right: 19px;
    cursor: pointer;
    background-color: #94a7cb96;
    color: #fff;
    transition: transform 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & > .ad-sidebar-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;

    & > .ad-sidebar-mainmenu,
    .ad-sidebar-preferences {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

.ad-sidebar-title {
  height: 15px;
  font-size: 12px;
  font-weight: 600;
  color: var(--text-tertiary);
  letter-spacing: 2px;
  margin-left: 10px;
}

.ad-sidebar-item {
  border: none;
  border-radius: 10px;
  color: var(--text-tertiary);
  svg {
    stroke: var(--text-tertiary);
    transition: stroke 0.3s ease;
  }

  &:hover {
    background-color: #2563eb;

    color: #fff;

    svg {
      stroke: #fff;
    }
  }

  & > .ad-sidebar-item-link {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    padding: 10px;
  }
}

.ad-sidebar-logout {
  color: var(--text-tertiary);

  & > .ad-sidebar-logout-link {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  svg {
    stroke: var(--text-tertiary);
  }

  &:hover {
    color: #fff;
    background-color: #2563eb;
    border-radius: 10px;

    svg {
      stroke: #fff;
    }
  }
}

.ad-sidebar-tiny-container {
  width: 68px;
}

.ad-sidebar-item-text-none {
  display: none;
  color: #fff;
}
