@import '../app/styles/styles';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo {
  display: flex;
  flex-direction: column;
  max-width: 292px;
  height: 108px;
  color: var(--clr-primary);
  gap: 10px;
}

select,
input {
  background-color: var(--clr-bg-input-secondary);
}

body {
  background-color: var(--clr-background-light);
}
