@import '../app/styles/styles';

.home {
  background-color: var(--clr-background-light);
  font-family: var(--fon-plus-jakarta-plus), sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
}
