.home {
  background-color: #f6f7f9;
  padding-top: 50px;
  font-family: var(--fon-plus-jakarta-plus), sans-serif;
}
.promo-cards{
  display: flex;
  flex-direction: row;
  gap: 32px;
}
@media (max-width: 645px) {
  .promo-cards{
    flex-direction: column;
    gap: 32px;
  }
}