.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //padding: 50px 100px 100px 100px;
  border-radius: 15px;
  background-color: #f6f7f9;
  font-family: var(--fon-plus-jakarta-plus), sans-serif;
}
