@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .navbar-left .logo {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    color: #2563eb; /* Logo rengi */
    font-weight: bold;
  }
  
  .navbar-center .search-bar {
    display: flex;
    align-items: center;
    background-color: #f1f3f5;
    border-radius: 8px;
    padding: 5px;
  }
  
  .search-bar input {
    border: none;
    outline: none;
    padding: 5px 10px;
    background-color: transparent;
    width: 300px;
  }
  
  .search-bar .filter-btn {
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .icon-btn {
    background-color: transparent;
    border: none;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
  }
  
  .notification-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
  }
  
  .profile-picture img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
  }