@import "../../app/styles/variables";

.fltr-sdbr {
  font-family: $fnt-jakarta;
  color: $text-secondary;
  width: 360px;
  font-size: $fnt-size-m;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
  font-weight: 600;
  .fltr-sctn-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h4 {
      font-size: $fnt-size-xxs;
    }
    div {
      display: inline-block;
      align-content: center;
    }
  }
}
