@import '../../app/styles/styles';

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  background-color: var(--clr-secondary);
}
a {
  color: var(--text-tertiary);
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  margin-top: 50px;
}
.footer-list {
  max-width: 1440px;
  width: 100%;
  padding: 20px;
}
.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  a {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-primary);
    font-weight: 600;
  }
}

.footer-privacy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.line {
  border: 0.2px solid #13131329;
}
.footer-link {
  font-size: 20px;
  color: var(--text-primary);
  font-weight: 600;
  line-height: 30px;
}
.footer-about {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.footer-community {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.footer-socails {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.logo h1 {
  color: #2563eb;
}
.logo p {
  color: var(--text-tertiary);

  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
@media screen and (max-width: 803px) {
  .footer {
    flex-direction: column;
    gap: 50px;
  }
  a,
  .logo p {
    color: var(--text-tertiary);
  }
  .footer-menu {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  .footer-bottom {
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap-reverse;
    a {
      font-size: 12px;
    }
  }

  a {
    font-size: 14px;
  }
}
