@import "../../app/styles/variables.scss";

.recommendation-cars-container {
  max-width: 1312px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  font-family: $fnt-jakarta;
  h4 {
    color: $text-tertiary;
    font-weight: 500;
    font-size: $fnt-size-s;
    line-height: 20px;
  }
  @media screen and (max-width: 364px) {
    max-width: 327px;
  }
  .recommendation-wrapper {
    .recommendation-cars {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 12px;
      background-color: transparent;
      flex-wrap: wrap;

      .recommendation-car {
        width: 100%;
        display: flex;
        flex: 1 1 304px;
        max-width: 304px;
        background-color: #ffffff;
      }
    }
  }
}
