@import '../../app/styles/variables';

.fltr-sctn-container {
  div {
    input {
      cursor: pointer;

      margin-right: clamp(1px, 0.3vw, 12px);
      &[type='checkbox'] {
        width: clamp(12px, 2vw, 20px);
        height: clamp(12px, 2vw, 20px);
      }
      &[type='range'] {
        display: block;
        margin-bottom: clamp(12px, 2vw, 20px);
        width: 100%;
        accent-color: $clr-primary;
        -webkit-appearance: none;
        height: clamp(1px, 1vw, 12px);
        background: $text-tertiary;
        border-radius: 5px;
        background-image: linear-gradient($clr-primary, $clr-primary);
        background-size: 70% 100%;
        background-repeat: no-repeat;
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: clamp(12px, 2vw, 20px);
          width: clamp(12px, 2vw, 20px);
          border-radius: 50%;
          background-color: $clr-primary;
          box-shadow: 0 0 0 4px white;
          cursor: pointer;
        }
      }
    }
    label {
      cursor: pointer;
    }
  }
  span {
    cursor: pointer;

    color: $text-tertiary;
    margin: clamp(1px, 0.5vw, 10px);

    @media (max-width: 630px) {
      display: none;
    }
  }
}
