.rs-head {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;

  .rs-radio-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 5px solid #fff;
    border-radius: 50%;
  }

  .rs-radio-wrapper-selected {
    border: 5px solid #3563e94d;
  }
}

.rs-options {
  display: flex;
  gap: 24px;

  .location,
  .time {
    flex: 1.3;
  }

  .date {
    flex: 1.5;
  }

  .rs-option-line {
    border: 0.5px solid #C3D4E966;
  }

  .rs-option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;

    .rs-option-head {
      font-size: 16px;
      font-weight: 700;
    }

    .rs-option-select-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;

      .rs-option-select {
        appearance: none;
        border: none;
        outline: none;
        font-size: 12px;
        font-weight: 500;
        color: #000;

        &>option:disabled {
          color: #90A3BF;
        }

      }

      .rs-option-select-default {
        color: #90A3BF;
      }

      .rs-option-select-date {
        outline: none;
        border: none;
        font-size: 12px;
        font-weight: 500;

        &::placeholder {
          color: #90A3BF;
        }
      }

      .react-datepicker-popper {
        z-index: 5;
      }
    }
  }

  @media screen and (max-width: 1280px) {
    & {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 680px) {
    & {
      flex-direction: row;
    }
  }
}