@import "../../app/styles/styles";
.rntlInfo-container {
  max-width: 852px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-family: var(--font-plus-jakarta-sans), sans-serif;
  gap: 20px;
  font-weight: 600;
  font-size: $fnt-size-s;
  background-color: #FFFFFF;
  border-radius: 10px;
  .rntlInfo__title {
    .rntlInfo__subinfo {
      display: flex;
      justify-content: space-between;
      font-size: $fnt-size-xs;
      color: $text-tertiary;
      font-weight: 500;
    }
    h2 {
      font-size: $fnt-size-m;
      font-weight: 600;
    }
  }
  .rntlInfo__form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 40px;
    .rntlInfo__option {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .rntlInfo__option__name {
        font-size: $fnt-size-s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        input {
          margin-right: 20px;
        }
      }
      .rntlInfo__option__details {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
      }
    }
  }
}
